<a href="https://colab.research.google.com/github/ECEZHAO2013/weather_exploration_ms/blob/main/notebooks/weather_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
from IPython.display import display, Math

In [2]:
1+1

2

In [3]:
a = 1+1
a

2

In [4]:
print("hello world")

hello world

In [5]:
## calcu sum of first 100 number
total = sum(range(1,101))

In [6]:
total

5050

In [8]:
total1=0
for num in range(1,101):
  total1 = total1+num

print(f"The total is: {total1}")

The total is: 5050

In [9]:
## sum of all odd number from 1-100: 1+3+5+7 ...  The sum of the first odd numbers is always n^2

odd_sum = 0

for num in  range(1,101):
  if num % 2 != 0: ## "!=" means "is not equal to"; use the Modulo operator (%), which tells us the remainder of a division
    odd_sum = odd_sum + num

print(f"The total is: {odd_sum}")

The total is: 2500

<img src="https://github.com/ECEZHAO2013/weather_exploration_ms/blob/main/notebooks/AI_image.png?raw=true)" width="500">

In [10]:
## Solve famous math question in python
# from IPython.display import display, Math

# The 'r' before the string stands for 'raw', which is needed for LaTeX
display(Math(r'\sum_{n=1}^{\infty} \frac{1}{n^2} = \frac{\pi^2}{6}'))

In [16]:
import math

total_rep = 0
n_term = 1000000

for i in range(1, n_term +1):
  total_rep += 1/(i**2)

print(f"The sum of the first million terms is: {total_rep}")
print(f"Euler's famous discovery (pi^2 / 6) is: {(math.pi**2) / 6}")

The sum of the first million terms is: 1.64493306684877
Euler's famous discovery (pi^2 / 6) is: 1.6449340668482264