<a href="https://colab.research.google.com/github/ECEZHAO2013/weather_exploration_ms/blob/main/notebooks/weather_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display, Math

In [ ]:
1+1

2

In [ ]:
a = 1+1
a

2

In [ ]:
print("hello world")

hello world

In [ ]:
## calcu sum of first 100 number
total = sum(range(1,101))

In [ ]:
total

5050

In [ ]:
total1=0
for num in range(1,101):
  total1 = total1+num

print(f"The total is: {total1}")

The total is: 5050

In [ ]:
## sum of all odd number from 1-100: 1+3+5+7 ...  The sum of the first odd numbers is always n^2

odd_sum = 0

for num in  range(1,101):
  if num % 2 != 0: ## "!=" means "is not equal to"; use the Modulo operator (%), which tells us the remainder of a division
    odd_sum = odd_sum + num

print(f"The total is: {odd_sum}")

The total is: 2500

<img src="https://github.com/ECEZHAO2013/weather_exploration_ms/blob/main/notebooks/AI_image.png?raw=true)" width="500">

In [ ]:
## Solve famous math question in python
# from IPython.display import display, Math

# The 'r' before the string stands for 'raw', which is needed for LaTeX
display(Math(r'\sum_{n=1}^{\infty} \frac{1}{n^2} = \frac{\pi^2}{6}'))

In [ ]:
import math

total_rep = 0
n_term = 1000000

for i in range(1, n_term +1):
  total_rep += 1/(i**2)

print(f"The sum of the first million terms is: {total_rep}")
print(f"Euler's famous discovery (pi^2 / 6) is: {(math.pi**2) / 6}")

The sum of the first million terms is: 1.64493306684877
Euler's famous discovery (pi^2 / 6) is: 1.6449340668482264

**Pull Example Data**

### free access:
1. [Openweathermap API](https://www.meteomatics.com/en/weather-api/?ppc_keyword=api%20noaa&utm_term=api%20noaa&utm_campaign=English+speaking+competitors&utm_source=adwords&utm_medium=ppc&hsa_acc=5001518620&hsa_cam=9891628525&hsa_grp=101205540875&hsa_ad=433573438455&hsa_src=g&hsa_tgt=kwd-1321666441369&hsa_kw=api%20noaa&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gad_campaignid=9891628525&gbraid=0AAAAADoNVHok2qdvkaGpuuAY6AIHaeBCW&gclid=Cj0KCQiA7-rMBhCFARIsAKnLKtCduiAUyrdu2-IF-gOCuPQmn41d9gnsTnu5b3RUC4IvigZf8NJkduQaAk-eEALw_wcB)
2. [NOAA Climate Data Online (CDO) API](https://www.ncdc.noaa.gov/cdo-web/token)
3. [NOAA Data Online - Documentation](https://www.ncdc.noaa.gov/cdo-web/webservices/v2#gettingStarted)

In [2]:
## Example CODE to pull some or historical weather with TOKEN

import requests
import pandas as pd
from google.colab import userdata

In [3]:
# Load token from Colab Secret
TOKEN = userdata.get("NOAA_TOKEN")

In [4]:
headers = {
    "token": TOKEN
}
# üìç Georgia example station (Atlanta Airport)
station_id = "GHCND:USW00013874"

url = "https://www.ncei.noaa.gov/cdo-web/api/v2/data"

params = {
    "datasetid": "GHCND",
    "stationid": station_id,
    "startdate": "2024-01-01",
    "enddate": "2024-01-10",
    "units": "standard",
    "limit": 1000
}

response = requests.get(url, headers=headers, params=params)
data = response.json()

# Convert to DataFrame
df = pd.DataFrame(data["results"])

In [5]:
df.head()

                  date datatype            station attributes    value
0  2024-01-01T00:00:00     ADPT  GHCND:USW00013874       ,,W,    -17.0
1  2024-01-01T00:00:00     ASLP  GHCND:USW00013874       ,,W,  10213.0
2  2024-01-01T00:00:00     ASTP  GHCND:USW00013874       ,,W,   9831.0
3  2024-01-01T00:00:00     AWBT  GHCND:USW00013874       ,,W,     28.0
4  2024-01-01T00:00:00     AWND  GHCND:USW00013874       ,,W,     11.0